name: CI

on:
  pull_request:
    branches: [main]

jobs:
  verify-charts:
    runs-on: mathtrail-runners
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: MathTrail/core/.github/actions/setup-env@v1

      - name: Run just update
        run: just update

      - name: Verify charts are up to date
        run: just verify-charts-updated
